@use "_variables" as v;
@use "_fonts";

* {
	&,
	&:active,
	&:focus {
		outline: 0;
		outline-style: none;
		outline-width: 0;
		-webkit-tap-highlight-color: transparent;
	}

	&,
	&:before,
	&:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

:root {
	--logoWidth: 170px;
	--cartWidth: 140px;
	--headerHeight: 70px;

	--sidebarSpaceOffset: 50px;
	--chatListHeight: 50px;

	--borderRadius: 8px;

	--purpleColor: #92f;
	--googleColor: #c23321;
	--umassColor: #{v.$umassColor};

	--selectionColor: #{rgba(v.$umassColor, 0.5)};

	--bgColor: #{v.$bgColor};
	--highlightColor: rgb(223, 160, 44);
	--popOutBgColor: #1a1a1a;
	--popOutBgColorAlt1: #373333;
	--popOutBgColorAlt2: #262222;
	--popOutBgColorAlt3: #0f0d0d;

	--buttonNormal: rgb(10, 95, 10);
	--buttonNormalHover: rgb(12, 112, 12);
	--buttonWarning: rgb(177, 177, 60);
	--buttonDanger: rgb(192, 65, 65);
	--buttonDangerHover: rgb(210, 79, 79);
	--buttonBlue: rgb(76, 76, 224);
	--buttonBlueHover: rgb(89, 89, 207);

	--buttonSliderDotColor: var(--purpleColor);

	--buttonBackground: #262626;
	--buttonHoverBackground: #313131;
	--buttonActiveBackground: #282828;

	--homeColoredButtonColor: #45c1bc;

	--colorGrayPrimary: #474747;
	--colorGraySecondary: #696969;
	--colorGrayTertiary: #999;
	--colorGrayQuaternary: #cccccc;

	--colorTransparent: transparent;
	--colorPrimaryForeground: #fff;
	--colorSecondaryForeground: #eee;
	--colorTertiaryForeground: #dddddd;
	--colorDarkForeground: #b9b9b9;

	--colorDark: #000;

	--cardFullBackground: #202020;
	--cardFullHoverBackground: #2d2d2d;
	--cardOwnFullBackground: #3d2626;
	--cardOwnFullHoverBackground: #523333;

	--scaleUpFactor: 1.1;
	--scaleDownFactor: 0.95;

	@media screen and (max-width: #{v.$navBarTwoRowsWidth}) {
		--headerHeight: 140px;
	}
}

::selection {
	color: var(--colorPrimaryForeground);
	background-color: var(--selectionColor);
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

@keyframes bg-spin {
	to {
		--border-angle: 1turn;
	}
}

html {
	@include v.scrollbar(var(--popOutBgColorAlt1), #555, 20px);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background-color: var(--bgColor);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

form {
	display: flex;
	align-items: center;

	button {
		background: transparent;
		border: 1px transparent;
		cursor: pointer;
		transition: 0.2s all;

		&:active {
			transform: scale(var(--scaleDownFactor));
		}
	}
}

.scrollbar-container {
	.ps__rail-y {
		background-color: transparent !important;
	}
}
