.accountOptions {
	width: 320px;
	height: 300px;
	background-color: var(--colorGraySecondary);
	border-radius: var(--borderRadius);
	position: fixed;
	inset: calc(var(--headerHeight) + 5px) 30px auto auto;
	display: flex;
	overflow: hidden;
	z-index: 9;
}

.inner {
	width: 100%;
	flex: 1;
	position: relative;
	overflow-y: auto;

	> * {
		padding: 0 20px;

		&:first-child {
			padding-top: 20px;
		}

		&:last-child {
			padding-bottom: 20px;
		}
	}

	span {
		color: var(--colorPrimaryForeground);
	}

	hr {
		border-top: 0.1px solid rgba(#fff, 0.3);
		border-right: none;
		border-bottom: none;
		border-left: none;
		margin-block: 0;
	}
}

.header {
	font-family: "GT Bold";
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.title {
	width: 100%;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	margin: 10px 0;
	display: block;

	&.alt {
		font-family: "GT Bold";
		font-size: 14px;
		text-align: center;
	}
}

.menu {
	position: relative;
}

.list {
	margin: 10px 0;

	.list-item {
		position: relative;
		padding: 5px 0;
	}
}

.appearanceGroup {
	display: flex;
	flex-flow: column;

	.group {
		width: 100%;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		gap: 5px;
		overflow: hidden;
	}

	.groupItem {
		flex: 1;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: flex-start;
		gap: 5px;
	}

	@mixin selected {
		border-color: var(--colorGrayQuaternary);
		transform: scale(1);
	}

	.groupSelectedItem {
		position: relative;

		.groupPhoto {
			@include selected();
		}
	}

	.groupPhoto {
		--dimension: 70px;
		max-height: var(--dimension);
		border: 3px solid transparent;
		border-radius: var(--borderRadius);
		flex: 1;
		overflow: hidden;
		cursor: pointer;
		transform: scale(0.9);
		transition:
			border-color 100ms linear,
			transform 100ms linear;

		&:hover {
			@include selected();
		}

		img {
			width: var(--dimension);
			height: var(--dimension);
			aspect-ratio: 1;
			user-select: none;
			pointer-events: none;
		}
	}

	.groupItemName {
		font-size: 14px;
		font-weight: 600;
		text-transform: capitalize;
		display: block;
	}
}
