.addNewItemWindowContainer {
	width: 80%;
	height: 80%;
	background-color: var(--popOutBgColor);
	border-radius: var(--borderRadius);
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	inset: 50% auto auto 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	--topComponent: 80px;
	--bottomComponent: 70px;

	> div {
		flex: 1;
	}
}

.header {
	width: 100%;
	max-height: var(--topComponent);
	padding: 0 30px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.headerTitle {
		max-width: 95%;
		color: var(--colorPrimaryForeground);
		font-family: "GT Ultrabold";
		font-size: 40px;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex: 1;
		overflow: hidden;
	}
}

.closeButton {
	width: 40px;
	height: 40px;
	position: absolute;
	inset: 50% 30px auto auto;
	display: flex;
	align-items: center;
	transform: translate(0, -50%);
	cursor: pointer;

	svg {
		color: var(--colorPrimaryForeground);
		transition: transform 100ms linear;

		&:hover {
			transform: scale(var(--scaleUpFactor));
		}

		&:active {
			transform: scale(1);
		}
	}
}

.inner {
	--height: calc(100% - var(--topComponent) - var(--bottomComponent));
	width: 100%;
	min-height: var(--height);
	max-height: var(--height);
	padding: 0 30px;
	position: relative;
	display: flex;
	flex-flow: column;
	overflow-y: auto;
}

.bottom {
	width: 100%;
	height: var(--bottomComponent);
	background-color: var(--popOutBgColorAlt1);
	box-shadow: 0 -2px 15px #{rgba(#000, 0.25)};
	position: absolute;
	inset: auto auto 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	z-index: 2;

	.label {
		margin-bottom: 0;
	}
}

.button {
	height: 35px;
	font-size: 18px;
	color: var(--colorPrimaryForeground);
	border: none;
	border-radius: calc(var(--borderRadius) - 2px);
	padding: 5px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition:
		background-color 100ms linear,
		transform 100ms linear;

	&:hover {
		transform: scale(var(--scaleUpFactor));
	}

	&[id="upload"],
	&[id="post"] {
		background-color: var(--buttonNormal);

		&:hover {
			background-color: var(--buttonNormalHover);
		}
	}

	&[id="reset"],
	&[id="cancel"] {
		background-color: var(--buttonDanger);

		&:hover {
			background-color: var(--buttonDangerHover);
		}
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.inputs {
	position: relative;
	display: flex;
	flex-flow: column;
	gap: 20px;

	> div {
		width: 100%;

		&:last-child {
			margin-bottom: 40px;
		}
	}
}

.label {
	color: var(--colorGrayQuaternary);
	font-family: "GT Bold";
	font-size: 18px;
	margin-bottom: 5px;
}

.single {
	display: flex;
	position: relative;

	&.singleRow {
		flex-flow: column;
	}
}

.double {
	display: flex;
	gap: 20px;
}

.inputInner {
	width: 100%;
}

.inputBox {
	width: 100%;

	input,
	textarea {
		width: 100%;
		color: var(--colorPrimaryForeground);
		font-family: "GT Light";
		font-size: 18px;
		background-color: var(--popOutBgColorAlt1);
		border: none;
		border-radius: var(--borderRadius);
		padding: 5px 10px;
	}

	input {
		height: 40px;
	}

	textarea {
		height: 120px;
		min-height: 120px;
		max-height: 300px;
		resize: vertical;
	}

	@at-root [id="images"] & {
		display: flex;
		flex-flow: row;
		gap: 10px;
		align-items: center;

		.button {
			font-size: 14px;
			height: 40px;
		}
	}
}

.choiceContainer {
	padding: 20px;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
	align-items: flex-start;
	justify-content: flex-start;

	.choiceItem {
		font-size: 14px;
		font-weight: 700;
		color: var(--colorPrimaryForeground);
		border: 3px solid var(--popOutBgColorAlt1);
		border-radius: var(--borderRadius);
		padding: 8px 15px;
		cursor: pointer;
		transition: background-color 100ms linear;
		user-select: none;

		&.choiceItemSelected {
			background-color: var(--popOutBgColorAlt1);
		}
	}
}

.imagesElem {
	margin-bottom: 30px;

	.label {
		margin-bottom: 15px;
	}
}

.imagesInner {
	gap: 20px;
}

.dropZone {
	--dropZoneHeight: 300px;
	min-height: var(--dropZoneHeight);
	max-height: var(--dropZoneHeight);
	background-color: var(--popOutBgColorAlt1);
	border: 3px dashed transparent;
	border-radius: var(--borderRadius);
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	cursor: pointer;
	transition:
		background-color 100ms linear,
		border-color 100ms linear;

	&.dropZoneHover {
		background-color: var(--popOutBgColorAlt2);
		border-color: var(--popOutBgColorAlt1);
	}

	p {
		color: var(--colorPrimaryForeground);
	}
}

.previewImages {
	width: 100%;
	max-height: 300px;
	border: 3px dashed var(--popOutBgColorAlt1);
	border-radius: var(--borderRadius);
	padding: 10px;
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	overflow: hidden;
}

.previewImagesInner {
	flex: 1;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.imageItem {
	height: 100%;
	position: relative;

	&:hover {
		.removeIMGButton {
			opacity: 1;
		}
	}
}

.imageThumbnailContainer {
	width: 120px;
	min-height: max-content;
	position: relative;

	img {
		width: 100%;
		height: auto;
		border: 5px solid transparent;
		border-radius: var(--borderRadius);
		aspect-ratio: 1;
		object-fit: cover;
		cursor: pointer;
		transition: border-color 100ms linear;
	}

	&:hover {
		img {
			border-color: var(--popOutBgColorAlt1);
		}
	}
}

.removeIMGButton {
	width: 25px;
	height: 25px;
	background-color: var(--popOutBgColorAlt1);
	border: none;
	border-radius: 0 var(--borderRadius) 0 var(--borderRadius);
	position: absolute;
	inset: 0 0 auto auto;
	opacity: 0;
	transition: opacity 100ms linear;
	cursor: pointer;

	span {
		color: var(--colorPrimaryForeground);
	}
}

.previewImagesNotice {
	color: var(--colorPrimaryForeground);
	font-size: 12px;
	opacity: 0.5;
}
