@use "_variables" as v;

body {
	&:has(.hasWindowDisplay) {
		overflow: hidden;
	}
}

.app {
	height: 100vh;
	position: relative;
}

.appContent {
	margin-top: var(--headerHeight);
	position: relative;

	@media screen and (max-width: #{v.$navBarTwoRowsWidth}) {
		margin-top: 0;
	}
}
