body {
	&:has(.hasWindowDisplay) {
		overflow: hidden;
	}
}

.app {
	height: 100vh;
	position: relative;
}

.appContent {
	margin-top: var(--headerHeight);
	position: relative;

	@media screen and (max-width: 600px) {
		margin-top: 0;
	}
}
