.chat {
	--offsetSpacing: calc(var(--sidebarSpaceOffset) - 20px);
	width: calc(100vw - (var(--offsetSpacing) * 2));
	min-height: 50px;
	margin: 0 var(--offsetSpacing);
	position: fixed;
	inset: auto auto 0 0;
	pointer-events: none;
}

.chatInner {
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 20px;
	pointer-events: none;

	> * {
		pointer-events: all;
	}
}
