.chatButton {
	position: relative;
	cursor: pointer;
}

.badge {
	color: var(--colorPrimaryForeground);
	font-size: 10px;
	font-family: "GT Bold";
	background-color: var(--umassColor);
	border-radius: calc(var(--borderRadius) - 5px);
	padding: 3px 5px;
	position: absolute;
	inset: 0 0 auto auto;
	cursor: pointer;
	z-index: 9;
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		svg {
			fill: var(--colorDarkForeground) !important;
		}
	}

	svg {
		transition: fill 100ms linear;
	}
}
