.gridContainer {
	max-width: var(--contentMaxWidth);
	margin-top: 25px;

	&.withGrid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: var(--gridDimension);
		grid-auto-rows: var(--gridDimension);
		grid-gap: 20px;
		padding-bottom: 50px;
		--gridDimension: 390px;

		@media screen and (max-width: 1700px) {
			--gridDimension: 370px;
		}

		@media screen and (max-width: 1450px) {
			--gridDimension: 350px;
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media screen and (max-width: 1350px) {
			--gridDimension: 330px;
		}

		@media screen and (max-width: 1240px) {
			--gridDimension: 290px;
		}

		@media screen and (max-width: 1240px) {
			--gridDimension: 400px;
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (max-width: 1100px) {
			--gridDimension: 335px;
		}

		@media screen and (max-width: 1050px) {
			--gridDimension: 330px;
		}

		@media screen and (max-width: 975px) {
			--gridDimension: 350px;
		}

		@media screen and (max-width: 840px) {
			--gridDimension: 310px;
		}

		@media screen and (max-width: 800px) {
			--gridDimension: 320px;
		}

		@media screen and (max-width: 770px) {
			--gridDimension: 400px;
			grid-template-columns: 1fr;
		}

		@media screen and (max-width: 710px) {
			--gridDimension: 460px;
		}

		@media screen and (max-width: 635px) {
			--gridDimension: 480px;
		}

		@media screen and (max-width: 600px) {
			--gridDimension: 450px;
		}

		@media screen and (max-width: 525px) {
			--gridDimension: 420px;
		}

		@media screen and (max-width: 475px) {
			--gridDimension: 390px;
		}

		@media screen and (max-width: 425px) {
			--gridDimension: 340px;
		}

		@media screen and (max-width: 375px) {
			--gridDimension: 310px;
		}

		@media screen and (max-width: 320px) {
			--gridDimension: 290px;
		}
	}

	&.noGrid {
		width: 100%;
		padding-top: 35px;
		padding-bottom: 50px;
		margin: 0 auto;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 25px;
	}

	&.emptyGrid {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			font-size: 4em !important;
		}
	}
}

.placeholder {
	width: 450px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;

	h1 {
		width: 100%;
		text-align: center;
	}
}
