@use "_variables" as v;

.navbar {
	width: 100%;
	height: var(--headerHeight);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 calc(var(--sidebarSpaceOffset) - 20px);
	position: fixed;
	inset: 0 auto auto 0;
	backdrop-filter: blur(10px);
	z-index: 10;

	&[id="home"] {
		background-color: transparent;
	}

	&:not([id="home"]) {
		background-color: rgba(v.$bgColor, 0.7);
	}

	> div {
		flex: 1;
	}

	.logo {
		min-width: var(--logoWidth);
		max-width: var(--logoWidth);
		height: 40px;
		margin-right: var(--sidebarSpaceOffset);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
	}

	h3 {
		color: white;
		font-family: "GT Bold";
		display: flex;
		flex-flow: column;
		cursor: pointer;
	}

	svg {
		width: 100%;
		height: 100%;
		transition: 100ms;
	}

	.path {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		> * {
			flex: 1;
		}
	}
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	transition: ease-in-out 0.2s;
	z-index: 9;
}

.component {
	min-width: max-content;
	max-width: max-content;
	margin-left: 15px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	transition: ease-in-out 0.2s;
	z-index: 9;

	&[id="browseStore"] {
		font-size: 14px;
		gap: 20px;
	}
}

.userComponent {
	position: relative;
}

.cartComponent {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	cursor: pointer;

	.badge {
		color: white;
		font-size: 10px;
		font-family: "GT Bold";
		background-color: red;
		border-radius: var(--borderRadius);
		padding: 3px 5px;
		position: absolute;
		inset: 0 0 auto auto;
		cursor: pointer;
		z-index: 9;
	}
}
