@use "_variables" as v;

.navbar {
	width: 100%;
	height: var(--headerHeight);
	position: fixed;
	inset: 0 auto auto 0;
	backdrop-filter: blur(10px);
	z-index: 10;

	@media screen and (max-width: #{v.$navBarTwoRowsWidth}) {
		position: relative;
	}

	&[id="home"] {
		background-color: transparent;
	}

	&:not([id="home"]) {
		background-color: #{rgba(v.$bgColor, 0.7)};
	}

	@media screen and (max-width: 1800px) {
		padding: 0 calc(var(--sidebarSpaceOffset) - 20px);
	}

	.logo {
		min-width: var(--logoWidth);
		max-width: var(--logoWidth);
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;

		&.atStore {
			margin-right: var(--sidebarSpaceOffset);

			@media screen and (max-width: #{v.$navBarTwoRowsWidth}) {
				margin-right: 0;
			}
		}
	}

	.logoInner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
	}

	h3 {
		color: var(--colorPrimaryForeground);
		font-family: "GT Bold";
		display: flex;
		flex-flow: column;
		cursor: pointer;
		user-select: none;
	}

	svg {
		width: 100%;
		height: 100%;
		transition: 100ms;
	}

	.middle {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		> * {
			flex: 1;
		}
	}
}

.navBarInner {
	max-width: calc(var(--filterListWidth) + var(--contentMaxWidth) + var(--browseContentGap));
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	@at-root .navBarNarrow & {
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	> div {
		flex: 1;
	}
}

.navBarNarrowTop,
.middle {
	width: 100%;
	flex: 1;
}

.navBarNarrowTop {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;

	.logo {
		margin: 0;
		flex-grow: 1;
	}
}

.middle {
	height: 100%;
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	transition: ease-in-out 0.2s;
	z-index: 9;
}

.component {
	min-width: max-content;
	max-width: max-content;
	margin-left: 15px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;
	transition: ease-in-out 0.2s;
	z-index: 9;

	&[id="browseStore"] {
		font-size: 14px;
		gap: 20px;
	}

	span {
		&:not([class]) {
			&:last-child {
				user-select: none;
			}
		}
	}
}
