.slideContainer {
	--width: 100%;
	--height: 500px;
	width: var(--width);
	max-width: 680px;
	height: max-content;
	position: relative;
	display: flex;
	flex-flow: column;
	gap: 10px;

	@media screen and (max-width: 950px) {
		max-width: 100%;
	}
}

.emptySlider {
	position: relative;
}

.slider {
	height: var(--height);
	min-height: var(--height);
	border-radius: var(--borderRadius);
	position: relative;
	flex: 1;
	display: flex;
	overflow: hidden;

	> div:first-child {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0 auto auto 0;
		display: block;
	}

	.slideElem {
		height: 100%;
		background-color: var(--colorPrimaryForeground);
		border-radius: var(--borderRadius);
		position: relative;
	}

	.slide {
		position: relative;
	}

	.currentImg {
		width: 100%;
		height: 500px;
		object-fit: contain;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;

		&:active {
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
	}

	.pageButtons {
		width: 100%;
		height: 100%;
		position: absolute;
		inset: 0 auto auto 0;
		pointer-events: none;
	}

	.pageButton {
		width: 50px;
		height: 100%;
		color: var(--colorGrayQuaternary);
		background-color: transparent;
		border: 1px transparent;
		position: absolute;
		top: 0;
		cursor: pointer;
		pointer-events: all;
		transition: 100ms linear;

		&:hover {
			color: #{rgba(#000, 0.6)};
		}

		&:active {
			transform: scale(var(--scaleDownFactor));
		}

		&.backwards {
			left: 0;
		}

		&.forward {
			right: 0;
		}

		* {
			pointer-events: none;
		}
	}
}

.selectorContainer {
	width: max-content;
	height: max-content;
	padding: 10px 20px;
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition: 100ms all;
	opacity: 0.8;

	&:hover {
		opacity: 1;
	}

	button * {
		pointer-events: none;
	}
}

.button {
	width: 100px;
	height: 100px;
	background-color: var(--colorGrayPrimary);
	border-radius: var(--borderRadius);
	border: 3px solid transparent;
	position: relative;
	cursor: pointer;
	transition: border 100ms linear;
	overflow: hidden;

	&:hover {
		border-color: var(--colorGrayTertiary);
	}

	&.buttonSelected {
		border-color: var(--buttonSliderDotColor);
	}

	.image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		inset: 0 auto auto 0;
		pointer-events: none;
		user-select: none;
	}
}
