.tradeWindowContainer {
	--bottomComponent: 70px;
	width: 80%;
	height: 80%;
	background-color: var(--popOutBgColor);
	border-radius: var(--borderRadius);
	padding: 30px 0 var(--bottomComponent) 0;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	inset: 50% auto auto 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;

	&:last-child {
		.tradingList {
			padding-bottom: 20px;
		}
	}

	> div {
		width: 100%;
	}
}

.tradeWindowHeader {
	padding: 0 30px 15px 30px;
	position: relative;
	display: flex;
	flex-flow: row;
	justify-content: space-between;

	h1 {
		color: var(--colorPrimaryForeground);
		font-family: "GT Ultrabold";
		font-size: 40px;
	}
}

.closeButton {
	width: 40px;
	height: 40px;
	position: absolute;
	inset: 50% 30px auto auto;
	display: flex;
	align-items: center;
	transform: translate(0, -50%);
	cursor: pointer;

	svg {
		color: var(--colorPrimaryForeground);
		transition: transform 100ms linear;

		&:hover {
			transform: scale(var(--scaleUpFactor));
		}

		&:active {
			transform: scale(1);
		}
	}
}

.tradeWindowInner {
	position: relative;
	flex: 1;
	overflow-y: scroll;
}

.tradeWindowContent {
	position: relative;
	display: flex;
	flex-flow: column;
}

.tradeListContainer {
	width: 100%;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column !important;
	gap: 10px;

	h4 {
		color: var(--colorPrimaryForeground);
		font-size: 18px;
		font-family: "GT Medium";
	}
}

.tradingList {
	margin-top: 30px;
	position: relative;

	@at-root .tradeListContainer[id="bottom"] & {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 20px;
	}
}

.tradeFloatBottom {
	width: 100%;
	height: var(--bottomComponent);
	background-color: var(--popOutBgColorAlt1);
	box-shadow: 0 -2px 15px #{rgba(#000, 0.25)};
	position: absolute;
	inset: auto auto 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	z-index: 2;
}

.button {
	height: 35px;
	font-size: 18px;
	color: var(--colorPrimaryForeground);
	border: none;
	border-radius: calc(var(--borderRadius) - 2px);
	padding: 5px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	transition:
		background-color 100ms linear,
		transform 100ms linear;

	&:hover {
		transform: scale(var(--scaleUpFactor));
	}

	&:nth-child(4) {
		margin-left: 50px;
	}

	&[id="chat"] {
		background-color: var(--buttonBlue);

		&:hover {
			background-color: var(--buttonBlueHover);
		}
	}

	&[id="trade"] {
		background-color: var(--buttonNormal);

		&:hover {
			background-color: var(--buttonNormalHover);
		}
	}

	&[id="reset"],
	&[id="cancel"] {
		background-color: var(--buttonDanger);

		&:hover {
			background-color: var(--buttonDangerHover);
		}
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
