.Browse {
	background-color: var(--bgColor);
	margin-top: var(--headerHeight);
}

.browseContent {
	min-height: calc(100vh - var(--headerHeight));
	padding-top: 25px;
	padding-bottom: 80px;
	display: flex;
}

.filterList {
	display: flex;
	gap: 8px;
}

.clearButton {
	font-family: "GT Bold" !important;
}

.filters h2 {
	font-family: "GT Medium";
	color: white;
	font-size: 1.6em;
	letter-spacing: 1px;
}

.list {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-right: 60px;
}

.list h1,
.list p {
	color: white;
}

.list h1 {
	font-family: "GT Bold";
	font-size: 4em;
}

.applied {
	display: flex;
	justify-content: space-between;
}

.filterButton {
	padding: 8px 22px;
	height: 40px;
	background-color: #262626;
	color: #fff;
	font-family: "GT Light";
	font-size: 0.95em;
	border: 1px transparent;
	border-radius: var(--borderRadius);
	cursor: pointer;
	transition: all 0.3s;
}

.filterButton:hover {
	background-color: #2d2d2d;
}

.filterButton:active {
	transform: scale(0.9);
}

.applied button span {
	color: #fff;
	font-family: "GT Bold";
}

.displayStyle {
	display: flex;
	gap: 8px;
	align-items: center;
}

.displayStyle p {
	color: #696969;
	font-family: "GT Medium";
}

.displayBtn {
	background-color: #282828;
	border: 1px transparent;
	border-radius: var(--borderRadius);
	outline: none;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s all;
}

.displayBtn * {
	pointer-events: none;
}

.displayBtn:hover {
	background-color: #313131;
}

.displayBtn:active {
	transform: scale(0.9125);
}

.displayItem {
	transform: scale(0.9);
	transition: 0.3s all;
}

@media screen and (max-width: 850px) {
	.displayStyle p {
		display: none;
	}
}

@media screen and (max-width: 770px) {
	.displayStyle {
		display: none;
	}

	.list h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 600px) {
	.list {
		padding-left: 35px;
		padding-right: 35px;
	}

	.list h1 {
		font-size: 48px;
	}
}

@media screen and (max-width: 375px) {
	.list {
		padding-left: 20px;
		padding-right: 20px;
	}

	.list h1 {
		font-size: 38px;
	}
}

@media screen and (max-width: 320px) {
	.filterButton {
		font-size: 12px;
	}
}
