.filters {
	width: 170px;
	margin: 10px calc(var(--sidebarSpaceOffset) + 15px) 0px 40px;

	h2 {
		font-family: "GT Medium";
		color: white;
		font-size: 1.6em;
		letter-spacing: 1px;
		margin-bottom: 22px;
	}
}

.globalFilters {
	margin-bottom: 24px;
}

.filterDiv {
	color: white;
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: "GT Regular";
	font-size: 1.2em;
	margin-bottom: 10px;
	cursor: pointer;

	* {
		pointer-events: none;
	}
}

.filterBtn {
	background-color: #2d2d2d;
	border: none;
	border-radius: var(--borderRadius);
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.2s all;

	.filterSVG {
		pointer-events: none;
		transition: 0.2s all;
	}
}

@media screen and (max-width: 600px) {
	.filters {
		display: none;
	}
}
